<form action="/genres/<%=@genre.id%>" method="post">
<input type="hidden" name="_method" value="patch"/>

<label>Name:</label>
<input type="text" name="name" value="<%= @genre.name%>"/>

<select name="artist_id">
    <option disabled selected> -- Select An artist -- </option>
    <% @artists.each do |artist| %>
        <option value=<%= artist.id %> > 
            <%= artist.name %> 
        </option>
    <% end %>

</select>

<label>Create An Artist:</label>
<input type="text" name="artist[name]"/>
<input type="submit"/>

</form>