<form action="/songs" method="post">
    <h3>Create New Song</h3>

    <label>Name</label>
    <input type="text" name="song[name]" id="Name">

    <label>Artist</label>
    <input type="text" name="artist[name]" id="Artist Name">

    <br/>
    <br/>
    <label>Genres</label>
    <% @genres.each do |genre| %>
        <br/>

        <input type= "checkbox" name="genres[]" value="<%= genre.id %>" id="<%= genre.name %>" /> 

        <%= genre.name %>
        <br/>

    <% end %>

    <input type="submit" value="Create">
</form>
