<h1>New Song</h1>

<form action="/songs" method="post">

<label>Song name:</label>
<input id="Name" type="text" name="song[name]"><br>

<label>Artist name:</label>
<input type="text" name="artist[name]" id="Artist Name"><br>

<label>Select genre(s):</label>


    <%@genres.each do |genre| %>
        <input type="checkbox" name="genres[id][]" value="<%= genre.id %>" id="<%= genre.name%>">
        <%= genre.name%>
    <%end%>
    <br>

<br>
    
  <input type="submit" value="Create">
</form>

