<h1> Create a Song: </h1>

<form action = '/songs' method = 'POST'>
    <input type = "text" name = "name" id = "Name">
    <label for = "Name"> Song Name:</label>

    <label> Genres: 
        <% @genres.each {|genre|%>
            <label> <%= genre.name%>
            <input type = "checkbox" name = "genres[]" value = <%= genre.id%> >
            </label>
        <%}%>
    </label>

    <input type = "text" name = "artist" id = "artist_name">
    <label for = "artist_name"> Artist Name</label>
    <input type = "submit" value = "Create">
</form>